
.header1{
    background-color:black;
    height: 40px;
    width:100%;
}
.nav{
    background-color:brown;
    height: 40px;
    width:100%;

}

.imgdiv1{
    background-color: cornflowerblue;
    height: 400px;
    width: 100%;

}

.middle{
    background-color: rosybrown;
    height: 400px;
    width: 100%;
}


